.hz-form-btn{
  margin:30px 0px 0px 10px;
}

.searchWrapOuterBox.bgBlue {
  background: #2d67b2;
}
.searchWrapOuterBox {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px 5px;
  z-index: 999999;
}

.width15{
  width: 15%;
  margin-top: 15 px;
}

.hz-form-submit{
  margin:20px 0px 0px 25px;
}

