.headerBox {
  position: relative;
  background: #fff;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: inline-block;
}

.hdrLogo img{
  float: left;
  padding-top: 7px;
  padding-right: 10px;
  width: 115px;
}

.headerBox .mainLinks {
  text-align: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  padding: 0;
}

