.guest-dropdown{
  float: left;
  margin: 20px 00px 0px 0px;
  float: left;
}

.paxContainer {
  position: absolute;
  background: #ff7531;
  border: 1px solid #eaeaea;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 #ccc;
  z-index: 9;
  width: 292px;
  height: 130px;
  margin: 0px 0px 0px -160px;
}

.widthx{
  padding:0px 55px 0px 0px;
}

.dropdown-group {
  margin-top: 20px ;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
}

.MuiInputBase-input {
  padding: 15px 0px 15px 0px !important;
  color: white !important;
  font-size: 12px !important;
}

.MuiSelect-select{
  width: 30px !important;
}